/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: rgb(57, 57, 57);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
body .main-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .main-container .message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
body .main-container .message-box li {
  padding: 10px 26px 10px 10px;
  border-radius: 5px;
  line-height: 20px;
  position: relative;
}
body .main-container .message-box li code {
  color: white;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 16px;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
body .main-container .message-box li .user-name-pfp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 7px;
}
body .main-container .message-box li .user-name-pfp img {
  max-width: 25px;
  width: 100%;
  border-radius: 50%;
}
body .main-container .message-box li .user-name-pfp p {
  font-size: 16px;
  font-weight: 600;
}
body .main-container .message-box li .text {
  margin-left: 32.5px;
}
body .main-container .message-box li .fa-volume-high {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 7px 5px;
  border-radius: 50%;
}
body .main-container .message-box li .fa-volume-high:hover {
  background-color: rgba(0, 0, 0, 0.253);
}
body .main-container .message-box li .fa-volume-high:active {
  background-color: rgba(0, 0, 0, 0.366);
}
body .main-container .message-box li:nth-of-type(even) {
  background-color: rgb(60, 60, 60);
}
body .main-container .message-box .error {
  padding: 10px;
  border-radius: 5px;
  line-height: 20px;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
  background-color: rgba(128, 128, 128, 0.337);
  position: relative;
  overflow: hidden;
}
body .main-container .message-box .error::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: rgb(255, 96, 96);
  left: 0;
  top: 0;
}
body .main-container .message-box .error i {
  color: rgb(255, 96, 96);
  margin-right: 2px;
}
body .main-container .message-box .error span {
  color: rgb(255, 96, 96);
}
body .main-container .heading-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 15px 10px 12px;
  gap: 10px;
}
body .main-container .heading-cont__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  max-width: 122px;
  width: 100%;
}
body .main-container .heading-cont__left img {
  max-width: 40px;
  width: 100%;
}
body .main-container .heading-cont__left .main-heading {
  font-size: 25px;
  font-weight: 600;
  color: white;
}
body .main-container .heading-cont__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
}
body .main-container .heading-cont__right .lang-eng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .main-container .heading-cont__right .lang-eng img {
  max-width: 25px;
  width: 100%;
  border-radius: 2px;
}
body .main-container .heading-cont__right .lang-eng p {
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .main-container .heading-cont__right .lang-eng p.active {
  font-weight: 600;
}
body .main-container .heading-cont__right .lang-switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
body .main-container .heading-cont__right .lang-switch__switch {
  opacity: 0;
  visibility: hidden;
}
body .main-container .heading-cont__right .lang-switch__visual {
  width: 40px;
  height: 20px;
  background-color: #7639cb;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body .main-container .heading-cont__right .lang-switch__visual::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: rgb(26, 26, 26);
  border-radius: 50%;
  position: absolute;
  left: 1px;
  top: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body .main-container .heading-cont__right .lang-switch__switch:checked + .lang-switch__visual {
  background-color: white;
}
body .main-container .heading-cont__right .lang-switch__switch:checked + .lang-switch__visual::before {
  left: 21px;
  background-color: red;
}
body .main-container .heading-cont__right .lang-geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .main-container .heading-cont__right .lang-geo img {
  max-width: 25px;
  width: 100%;
  border-radius: 2px;
}
body .main-container .heading-cont__right .lang-geo p {
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .main-container .heading-cont__right .lang-geo p.active {
  font-weight: 600;
}
body .main-container .chatbox {
  max-width: 99%;
  width: 100%;
  height: 81.5%;
  border-radius: 5px;
  overflow-y: scroll;
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 15px;
}
body .main-container .chatbox__heading {
  font-size: 20px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(165, 165, 165);
  padding: 0 0 10px 0;
  background-color: rgb(26, 26, 26);
}
body .main-container .chatbox::-webkit-scrollbar {
  width: 8px;
}
body .main-container .chatbox::-webkit-scrollbar-thumb {
  background-color: rgb(14, 14, 14);
  border-radius: 50px;
}
body .main-container .chatbox::-webkit-scrollbar-thumb:hover {
  background-color: rgb(21, 21, 21);
}
body .main-container .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 5px;
  padding: 5px;
  background-color: rgb(57, 57, 57);
}
body .main-container .inputs__listening {
  max-width: 91.4%;
  width: 100%;
  height: 30px;
  left: 5.5px;
  top: 10px;
  background-color: rgb(21, 21, 21);
  position: absolute;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 10px;
  z-index: -1;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body .main-container .inputs__listening.active {
  top: -25px;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
}
body .main-container .inputs__listening.active + .inputs__text-input {
  border-radius: 0 0 5px 5px;
}
body .main-container .inputs__text-input {
  max-width: 92%;
  width: 100%;
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  min-height: 50px;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .main-container .inputs__text-input:focus {
  border: 2px solid white;
}
body .main-container .inputs__send {
  background-color: #7639cb;
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .main-container .inputs__send .fa-spinner {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
body .main-container .inputs__send--default {
  border: 2px solid transparent;
  max-width: 50px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}
body .main-container .inputs__send:disabled {
  background-color: #461e7e;
  color: rgb(159, 159, 159);
  cursor: not-allowed;
}
body .main-container .inputs__send:disabled:hover {
  background-color: #461e7e;
  color: rgb(159, 159, 159);
}
body .main-container .inputs__send:disabled:active {
  background-color: #461e7e;
  color: rgb(159, 159, 159);
  border: 2px solid transparent;
}
body .main-container .inputs__send:hover {
  background-color: #8d44f3;
}
body .main-container .inputs__send:active {
  border: 2px solid white;
  background-color: #692fba;
}
body .main-container .inputs__stop {
  background-color: #3a0ea9;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
body .main-container .inputs__stop:disabled {
  background-color: #721010;
  color: rgb(159, 159, 159);
  cursor: not-allowed;
}
body .main-container .inputs__stop:disabled:hover {
  background-color: #721010;
  color: rgb(159, 159, 159);
}
body .main-container .inputs__stop:disabled:active {
  background-color: #721010;
  color: rgb(159, 159, 159);
  border: 2px solid transparent;
}
body .main-container .inputs__stop:hover {
  background-color: #320d90;
}
body .main-container .inputs__stop:active {
  background-color: #2a0d73;
  border: 2px solid white;
}
body .pop-up {
  max-width: 500px;
  width: 100%;
  height: 500px;
  background-color: rgb(54, 54, 54);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding: 10px;
}
body .pop-up__text {
  font-size: 20px;
  color: white;
  font-weight: 600;
  max-width: 300px;
  width: 100%;
  text-align: center;
  line-height: 25px;
}
body .pop-up .api-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .pop-up .api-inputs__input {
  background-color: rgb(26, 26, 26);
  outline: none;
  padding: 10px 15px;
  border-radius: 50px;
  color: white;
  max-width: 222px;
  width: 100%;
  border: 2px solid rgb(26, 26, 26);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .pop-up .api-inputs__input:focus {
  border: 2px solid white;
}
body .pop-up .api-inputs__confirm {
  background-color: #7639cb;
  color: white;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .pop-up .api-inputs__confirm:hover {
  background-color: #8d44f3;
}
body .pop-up .api-inputs__confirm:active {
  border: 2px solid white;
  background-color: #692fba;
}
body .overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.403);
  z-index: 99;
}

::-moz-selection {
  /* Code for Firefox */
  color: white !important;
  background: #7639cb !important;
}

::selection {
  color: white !important;
  background: #7639cb !important;
}/*# sourceMappingURL=global.css.map */