body {
    background-color: $backgroundColor;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    .main-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .message-box {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                padding: 10px;
                border-radius: 5px;
                line-height: 20px;

                .user-name-pfp {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    margin-bottom: 7px;

                    img {
                        max-width: 25px;
                        width: 100%;
                        border-radius: 50%;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                .text {
                    margin-left: 32.5px;
                }

                &:nth-of-type(even) {
                    background-color: rgb(60, 60, 60);
                }
            }

            .error {
                padding: 10px;
                border-radius: 5px;
                line-height: 20px;
                font-weight: 600;
                box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
                background-color: rgba(128, 128, 128, 0.337);
                position: relative;
                overflow: hidden;

                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    height: 100%;
                    width: 3px;
                    background-color: rgb(255, 96, 96);
                    left: 0;
                    top: 0;
                }

                i {
                    color: rgb(255, 96, 96);
                    margin-right: 2px;
                }

                span {
                    color: rgb(255, 96, 96);
                }
            }
        }

        .heading-cont {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-self: flex-start;
            padding: 10px 15px 10px 12px;
            gap: 10px;

            &__left {
                display: flex;
                align-items: center;
                gap: 5px;
                max-width: 122px;
                width: 100%;

                img {
                    max-width: 40px;
                    width: 100%;
                }

                .main-heading {
                    font-size: 25px;
                    font-weight: 600;
                    color: white;
                }
            }

            &__right {
                display: flex;
                gap: 15px;
                justify-content: center;
                align-items: center;
                max-width: 200px;
                width: 100%;

                .lang-eng {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    flex-wrap: wrap;
                    justify-content: center;

                    img {
                        max-width: 25px;
                        width: 100%;
                        border-radius: 2px;
                    }

                    p {
                        color: white;
                        transition: all 0.2s;

                        &.active {
                            font-weight: 600;
                        }
                    }
                }

                .lang-switch {
                    display: inline-block;
                    width: 40px;
                    height: 20px;
                    position: relative;
                    cursor: pointer;

                    &__switch {
                        opacity: 0;
                        visibility: hidden;
                    }

                    &__visual {
                        width: 40px;
                        height: 20px;
                        background-color: $focusColor;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 20px;
                        transition: all 0.3s;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 17px;
                            height: 17px;
                            background-color: rgb(26, 26, 26);
                            border-radius: 50%;
                            position: absolute;
                            left: 1px;
                            top: 2px;
                            transition: all 0.3s;
                        }
                    }

                    &__switch:checked+.lang-switch__visual {
                        background-color: white;

                        &::before {
                            left: 21px;
                            background-color: red;
                        }
                    }
                }

                .lang-geo {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    flex-wrap: wrap;
                    justify-content: center;

                    img {
                        max-width: 25px;
                        width: 100%;
                        border-radius: 2px;
                    }

                    p {
                        color: white;
                        transition: all 0.2s;

                        &.active {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .chatbox {
            max-width: 99%;
            width: 100%;
            height: 81.5%;
            border-radius: 5px;
            overflow-y: scroll;
            background-color: rgb(26, 26, 26);
            color: white;
            padding: 15px;

            &__heading {
                font-size: 20px;
                color: white;
                font-weight: 700;
                margin-bottom: 20px;
                border-bottom: 1px solid rgb(165, 165, 165);
                padding: 0 0 10px 0;
                background-color: rgb(26, 26, 26);
            }


            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(14, 14, 14);
                border-radius: 50px;

                &:hover {
                    background-color: rgb(21, 21, 21);
                }
            }
        }

        .inputs {
            display: flex;
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            align-items: center;
            width: 100%;
            justify-content: space-around;
            gap: 5px;
            padding: 5px;
            background-color: $backgroundColor;

            &__listening {
                max-width: 91.4%;
                width: 100%;
                height: 30px;
                left: 5.5px;
                top: 10px;
                background-color: rgb(21, 21, 21);
                position: absolute;
                color: white;
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 10px;
                z-index: -1;
                border-radius: 5px 5px 0 0;
                box-shadow: none;
                transition: all 0.3s;

                &.active {
                    top: -25px;
                    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.75);
                }

                &.active+.inputs__text-input {
                    border-radius: 0 0 5px 5px;
                }
            }

            &__text-input {
                max-width: 92%;
                width: 100%;
                background-color: rgb(26, 26, 26);
                color: white;
                padding: 15px;
                border-radius: 5px;
                outline: none;
                min-height: 50px;
                border: 2px solid transparent;
                transition: all 0.2s;

                &:focus {
                    border: 2px solid white;
                }
            }

            &__send {
                background-color: $focusColor;
                color: white;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all 0.2s;

                .fa-spinner {
                    animation-name: rotate;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;

                    @keyframes rotate {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }

                &--default {
                    border: 2px solid transparent;
                    max-width: 50px;
                    width: 100%;
                    height: 50px;
                    border-radius: 5px;
                }

                &:disabled {
                    background-color: #461e7e;
                    color: rgb(159, 159, 159);
                    cursor: not-allowed;

                    &:hover {
                        background-color: #461e7e;
                        color: rgb(159, 159, 159);
                    }

                    &:active {
                        background-color: #461e7e;
                        color: rgb(159, 159, 159);
                        border: 2px solid transparent;
                    }
                }

                &:hover {
                    background-color: $focusColorHover;
                }

                &:active {
                    border: 2px solid white;
                    background-color: $focusColorActive;
                }
            }

            &__stop {
                background-color: #3a0ea9;
                color: white;
                transition: all 0.2s;
                cursor: pointer;

                &:disabled {
                    background-color: #721010;
                    color: rgb(159, 159, 159);
                    cursor: not-allowed;

                    &:hover {
                        background-color: #721010;
                        color: rgb(159, 159, 159);
                    }

                    &:active {
                        background-color: #721010;
                        color: rgb(159, 159, 159);
                        border: 2px solid transparent;
                    }
                }

                &:hover {
                    background-color: #320d90;
                }

                &:active {
                    background-color: #2a0d73;
                    border: 2px solid white;
                }
            }
        }
    }

    .pop-up {
        max-width: 500px;
        width: 100%;
        height: 500px;
        background-color: rgb(54, 54, 54);
        border-radius: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 10px;

        &__text {
            font-size: 20px;
            color: white;
            font-weight: 600;
            max-width: 300px;
            width: 100%;
            text-align: center;
            line-height: 25px;
        }

        .api-inputs {
            display: flex;
            gap: 10px;
            justify-content: center;
            flex-wrap: wrap;

            &__input {
                background-color: rgb(26, 26, 26);
                outline: none;
                padding: 10px 15px;
                border-radius: 50px;
                color: white;
                max-width: 222px;
                width: 100%;
                border: 2px solid rgb(26, 26, 26);
                transition: all 0.2s;

                &:focus {
                    border: 2px solid white;
                }
            }

            &__confirm {
                background-color: $focusColor;
                color: white;
                padding: 10px 15px;
                font-weight: 600;
                border-radius: 20px;
                cursor: pointer;
                border: 2px solid transparent;
                transition: all 0.2s;

                &:hover {
                    background-color: $focusColorHover;
                }

                &:active {
                    border: 2px solid white;
                    background-color: $focusColorActive;
                }
            }
        }
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.403);
        z-index: 99;
    }
}

::-moz-selection {
    /* Code for Firefox */
    color: white !important;
    background: $focusColor !important;
}

::selection {
    color: white !important;
    background: $focusColor !important;
}